<ion-header>
    <ion-toolbar>
        <ion-title>ChatWindow</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-input
            [placeholder]="placeholder"
            (keyup.enter)="sendMessage()"
            [(ngModel)]="messageInput"
    ></ion-input>

    <ion-input class="user-name" [(ngModel)]="messageFrom"></ion-input>



    <i><span>{{serverResponse}}</span></i>
    <span class="message" *ngFor="let message of messages ; index as i">{{i}} - {{message | json}}<br></span>


</ion-content>
